<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usach.tbdgrupo7.iservifast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name=".Views.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark1"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.SolicitarActivity"
            android:label="Yo solicito..."
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".Views.RegistrarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark1"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".Views.OfrecerActivity"
            android:label="Yo ofrezco..."
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Views.MainActivity"
            android:screenOrientation="portrait"
            android:label="Servicios Ofrecidos"
            android:theme="@style/AppTheme.Dark"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".Views.ServicioOfrecidoActivity"
            android:label="Alguien ofrece..."
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".Views.FavoritosActivity"
            android:label="Favoritos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".Views.MisServiciosOfrecidosActivity"
            android:screenOrientation="portrait"
            android:label="Mis servicios ofrecidos"
            android:theme="@style/AppTheme.Dark"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".Views.ServiciosSolicitadosActivity"
            android:screenOrientation="portrait"
            android:label="Servicios solicitados"
            android:theme="@style/AppTheme.Dark"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".Views.MisServiciosSolicitados"
            android:screenOrientation="portrait"
            android:label="Mis servicios solicitados"
            android:theme="@style/AppTheme.Dark"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".Views.ServicioSolicitadoActivity"
            android:screenOrientation="portrait"
            android:label="Alguien solicita..."
            android:theme="@style/AppTheme.Dark"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>
